[
 {ssl, [{versions, ['tlsv1.2']}]},
 {rabbit, [
          {log, [
                    {file, [{file, "/var/log/rabbitmq/rabbitmq.log"}, %% log.file
                            {level, info},        %% log.file.info
                            {date, "$H00"},           %% log.file.rotation.date
                            {size, 1048576},            %% log.file.rotation.size
                            {count, 3}            %% log.file.rotation.count
                            ]}
                ]},
           {ssl_listeners, [5671]},
           {ssl_options, [{cacertfile,"/etc/ssl/ca-cert.pem"},
                          {certfile,  "/etc/ssl/private/tls.crt"},
                          {keyfile,   "/etc/ssl/private/tls.key"},
                          {versions, ['tlsv1.2']},
                          {ciphers,  [
                                       {ecdhe_ecdsa,aes_256_gcm,aead,sha384},
                                       {ecdhe_rsa,aes_256_gcm,aead,sha384},
                                       {ecdh_ecdsa,aes_256_gcm,aead,sha384},
                                       {ecdh_rsa,aes_256_gcm,aead,sha384},
                                       {dhe_rsa,aes_256_gcm,aead,sha384},
                                       {dhe_dss,aes_256_gcm,aead,sha384},
                                       {ecdhe_ecdsa,aes_128_gcm,aead,sha256},
                                       {ecdhe_rsa,aes_128_gcm,aead,sha256},
                                       {ecdh_ecdsa,aes_128_gcm,aead,sha256},
                                       {ecdh_rsa,aes_128_gcm,aead,sha256},
                                       {dhe_rsa,aes_128_gcm,aead,sha256},
                                       {dhe_dss,aes_128_gcm,aead,sha256}
                                     ]},
                          {honor_cipher_order,   true},
                          {honor_ecc_order,      true},
                          {client_renegotiation, false},
                          {secure_renegotiate,   true},
                          {verify,               verify_peer},
                          {fail_if_no_peer_cert, false}]}
          ]}
].